In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("Telecom Churn Prediction.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [5]:
df.drop("customerID", axis=1, inplace=True)

In [6]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [7]:
# Define a mapping dictionary

df['gender'] = df['gender'].map({'Male': 0, 'Female': 1})
df['MultipleLines'] = df['MultipleLines'].map({'No': 0, 'Yes': 1, 'No phone service': 2})
df['Contract'] = df['Contract'].map({'Month-to-month': 0, 'One year': 1, 'Two year': 2})
df['InternetService'] = df['InternetService'].map({'No': 0, 'DSL': 1, 'Fiber optic': 2})
df['PaymentMethod'] = df['PaymentMethod'].map({'Electronic check': 0, 'Mailed check': 1, 'Bank transfer (automatic)': 2, 'Credit card (automatic)': 3})
df['TotalCharges']=df['TotalCharges'].replace({' ': 0})
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'])

for col in ['Partner', 'Dependents', 'PhoneService', 'PaperlessBilling', 'Churn']:
    df[col] = df[col].map({'No': 0, 'Yes': 1})
for col in ['OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies']:
    df[col] = df[col].map({'No': 0, 'Yes': 1, 'No internet service': 2})

In [8]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,1,0,1,0,1,0,2,1,0,1,0,0,0,0,0,1,0,29.85,29.85,0
1,0,0,0,0,34,1,0,1,1,0,1,0,0,0,1,0,1,56.95,1889.50,0
2,0,0,0,0,2,1,0,1,1,1,0,0,0,0,0,1,1,53.85,108.15,1
3,0,0,0,0,45,0,2,1,1,0,1,1,0,0,1,0,2,42.30,1840.75,0
4,1,0,0,0,2,1,0,2,0,0,0,0,0,0,0,1,0,70.70,151.65,1

In [9]:
from sklearn.preprocessing import MinMaxScaler

In [10]:
# Using min max scaler technique on tenure, monthlycharges and total charges column

scaler = MinMaxScaler()
df[['tenure', 'MonthlyCharges', 'TotalCharges']] = scaler.fit_transform(df[['tenure', 'MonthlyCharges', 'TotalCharges']])

In [11]:
df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,1,0,1,0,0.013889,0,2,1,0,1,0,0,0,0,0,1,0,0.115423,0.003437,0
1,0,0,0,0,0.472222,1,0,1,1,0,1,0,0,0,1,0,1,0.385075,0.217564,0
2,0,0,0,0,0.027778,1,0,1,1,1,0,0,0,0,0,1,1,0.354229,0.012453,1
3,0,0,0,0,0.625000,0,2,1,1,0,1,1,0,0,1,0,2,0.239303,0.211951,0
4,1,0,0,0,0.027778,1,0,2,0,0,0,0,0,0,0,1,0,0.521891,0.017462,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,0,1,1,0.333333,1,1,1,1,0,1,1,1,1,1,1,1,0.662189,0.229194,0
7039,1,0,1,1,1.000000,1,1,2,0,1,1,0,1,1,1,1,3,0.845274,0.847792,0
7040,1,0,1,1,0.152778,0,2,1,1,0,0,0,0,0,0,1,0,0.112935,0.039892,0
7041,0,1,1,0,0.055556,1,1,2,0,0,0,0,0,0,0,1,1,0.558706,0.035303,1
7042,0,0,0,0,0.916667,1,0,2,1,0,1,1,1,1,2,1,2,0.869652,0.788101,0

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
# Splitting the data

X = df.drop("Churn", axis=1)
y = df['Churn']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.7, random_state=100)

In [14]:
y_train.value_counts()

Churn
0    1560
1     552
Name: count, dtype: int64

In [15]:
from imblearn.under_sampling import RandomUnderSampler

In [16]:
# Performing undersampling as the target column has not equal values

under = RandomUnderSampler(sampling_strategy=1) 
                     
X_train, y_train = under.fit_resample(X_train, y_train)

In [17]:
y_train.value_counts()

Churn
0    552
1    552
Name: count, dtype: int64

In [18]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix

In [19]:
model = LogisticRegression()

In [20]:
# Testing data
model.fit(X_train, y_train)

predict = model.predict(X_test)

accuracy = accuracy_score(y_test, predict)
print(f"Testing Accuracy: {accuracy * 100:.2f}%")

Testing Accuracy: 72.70%

In [21]:
logistic_confusion_matrix = confusion_matrix(y_test, predict)
logistic_confusion_matrix

array([[2519, 1095],
       [ 251, 1066]])

In [22]:
# Training data
model.fit(X_train, y_train)

predict = model.predict(X_train)

accuracy = accuracy_score(y_train, predict)
print(f"Training Accuracy: {accuracy * 100:.2f}%")

Training Accuracy: 78.62%

In [23]:
from sklearn.neighbors import KNeighborsClassifier

In [24]:
knn = KNeighborsClassifier()

In [25]:
knn.fit(X_train, y_train)
predict = knn.predict(X_test)
accuracy = accuracy_score(y_test, predict)
print(f"Testing Accuracy: {accuracy * 100:.2f}%")

Testing Accuracy: 67.78%

In [26]:
# Testing data
model.fit(X_train, y_train)

predict = model.predict(X_train)

accuracy = accuracy_score(y_train, predict)
print(f"Training Accuracy: {accuracy * 100:.2f}%")

Training Accuracy: 78.62%