In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
df= pd.read_csv('telecom.csv')
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [4]:
df.sample(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
103,5386-THSLQ,Female,1,Yes,No,66,No,No phone service,DSL,No,...,Yes,No,Yes,No,One year,No,Bank transfer (automatic),45.55,3027.25,No
2119,9805-FILKB,Male,0,Yes,Yes,46,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,One year,Yes,Bank transfer (automatic),20.20,845.6,No
3324,5043-TRZWM,Female,0,No,No,1,Yes,No,Fiber optic,No,...,Yes,No,No,No,Month-to-month,No,Electronic check,75.55,75.55,No
4194,2961-VNFKL,Female,0,Yes,No,71,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Credit card (automatic),25.95,1801.9,No
1152,4320-QMLLA,Male,0,No,No,7,Yes,No,DSL,No,...,No,No,Yes,No,Month-to-month,No,Mailed check,54.85,370.4,No

In [5]:
df.shape

(7043, 21)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [7]:
df.columns = df.columns.str.lower()

In [8]:
df.columns

Index(['customerid', 'gender', 'seniorcitizen', 'partner', 'dependents',
       'tenure', 'phoneservice', 'multiplelines', 'internetservice',
       'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport',
       'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling',
       'paymentmethod', 'monthlycharges', 'totalcharges', 'churn'],
      dtype='object')

In [9]:
df.drop(columns=['customerid'],inplace=True)

In [10]:
df.columns

Index(['gender', 'seniorcitizen', 'partner', 'dependents', 'tenure',
       'phoneservice', 'multiplelines', 'internetservice', 'onlinesecurity',
       'onlinebackup', 'deviceprotection', 'techsupport', 'streamingtv',
       'streamingmovies', 'contract', 'paperlessbilling', 'paymentmethod',
       'monthlycharges', 'totalcharges', 'churn'],
      dtype='object')

In [11]:
#replacing ' ' empty values with nan
df['totalcharges'] = df['totalcharges'].replace(' ', np.nan).astype(float)

In [12]:
df.describe()

       seniorcitizen       tenure  monthlycharges  totalcharges
count    7043.000000  7043.000000     7043.000000   7032.000000
mean        0.162147    32.371149       64.761692   2283.300441
std         0.368612    24.559481       30.090047   2266.771362
min         0.000000     0.000000       18.250000     18.800000
25%         0.000000     9.000000       35.500000    401.450000
50%         0.000000    29.000000       70.350000   1397.475000
75%         0.000000    55.000000       89.850000   3794.737500
max         1.000000    72.000000      118.750000   8684.800000

In [13]:
df['churn'].value_counts()

churn
No     5174
Yes    1869
Name: count, dtype: int64

Data is highly imbalanced

In [14]:
100*df['churn'].value_counts()/len(df['churn'])

churn
No     73.463013
Yes    26.536987
Name: count, dtype: float64

74% of the Churn data is "No" and 26% is "Yes"

In [15]:
df.select_dtypes(include=['object']).shape

(7043, 16)

In [16]:
df.select_dtypes(include=['float64','int64']).shape

(7043, 4)

In [17]:
df.isnull().sum()

gender               0
seniorcitizen        0
partner              0
dependents           0
tenure               0
phoneservice         0
multiplelines        0
internetservice      0
onlinesecurity       0
onlinebackup         0
deviceprotection     0
techsupport          0
streamingtv          0
streamingmovies      0
contract             0
paperlessbilling     0
paymentmethod        0
monthlycharges       0
totalcharges        11
churn                0
dtype: int64

11 null values in Total Charges

In [18]:
df.loc[df ['totalcharges'].isnull() == True]

,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
488,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,NaN,No
753,Male,0,No,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,NaN,No
936,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,Yes,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,NaN,No
1082,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,NaN,No
1340,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,NaN,No
3331,Male,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,NaN,No
3826,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,NaN,No
4380,Female,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,NaN,No
5218,Male,0,Yes,Yes,0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,NaN,No
6670,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,Yes,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,NaN,No
6754,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,NaN,No

In [19]:
#missing value ratio
(11/7044)*100

0.15616127200454286

In [20]:
#Removing missing values 
df.dropna(how = 'any', inplace = True)

In [21]:
df_updated = df.copy()

 Now Dividing customers into bins based on tenure e.g. for tenure < 12 months: assign a tenure group if 1-12, for tenure between 1 to 2 Yrs, tenure group of 13-24; so on...

In [22]:
# Get the max tenure
print(df_updated['tenure'].max())

72

In [23]:
# # Group the tenure in bins of 12 months
# labels = ["{0} - {1}".format(i, i + 11) for i in range(1, 72, 12)]

# df_updated['tenure_group'] = pd.cut(df_updated.tenure, range(1, 80, 12), right=False, labels=labels)

In [24]:
# df_updated['tenure_group'].value_counts()

In [25]:
#null value is dropped
df.isnull().sum()

gender              0
seniorcitizen       0
partner             0
dependents          0
tenure              0
phoneservice        0
multiplelines       0
internetservice     0
onlinesecurity      0
onlinebackup        0
deviceprotection    0
techsupport         0
streamingtv         0
streamingmovies     0
contract            0
paperlessbilling    0
paymentmethod       0
monthlycharges      0
totalcharges        0
churn               0
dtype: int64

In [26]:
# Check for any duplicated rows
print("\nNumber of duplicated rows before cleaning:", df.duplicated().sum())

Number of duplicated rows before cleaning: 22

In [27]:
# Remove duplicated rows
df = df.drop_duplicates()

In [28]:
# Check for any duplicated rows after cleaning
print("Number of duplicated rows after cleaning:", df.duplicated().sum())

Number of duplicated rows after cleaning: 0

In [ ]:
sns.histplot(df['totalcharges'],kde=True)

The ‘totalcharges’ data is right-skewed, indicating most customers have lower charges. The distribution peaks on the left, showing a large number of customers with low charges. As charges increase, customer frequency decreases. A long tail on the right suggests a few customers have very high charges, but they are relatively rare.

In [ ]:
sns.boxplot(df['totalcharges'],orient='h')

In [ ]:
sns.countplot(x = df['gender'])
plt.title('Telecom Churn Gender')
plt.show()

# Data Exploration

# Univariate Analysis
1. Plot distibution of individual predictors by churn

In [ ]:
for i, predictor in enumerate(df.drop(columns=['churn', 'totalcharges', 'monthlycharges'])):
    plt.figure(i)
    sns.countplot(data=df, x=predictor, hue='churn')

2. Convert the target variable 'Churn' in a binary numeric variable i.e. Yes=1 ; No = 0

In [ ]:
df_updated['churn'] = np.where(df_updated.churn == 'Yes',1,0)

In [ ]:
df_updated.head()

In [ ]:
# Convert all the categorical variables into dummy variables
df_updated_dummies = pd.get_dummies(df_updated)
df_updated_dummies.head()

In [ ]:
# Churn by Monthly charges
Mth = sns.kdeplot(df_updated_dummies.monthlycharges[(df_updated_dummies["churn"] == 0) ],
                color="Red", shade = True)
Mth = sns.kdeplot(df_updated_dummies.monthlycharges[(df_updated_dummies["churn"] == 1) ],
                ax =Mth, color="Blue", shade= True)
Mth.legend(["No Churn","Churn"],loc='upper right')
Mth.set_ylabel('Density')
Mth.set_xlabel('Monthly Charges')
Mth.set_title('Monthly charges by churn')

Churn is high when Monthly Charges ar high

In [ ]:
# Churn by Total charges
Mth = sns.kdeplot(df_updated_dummies.totalcharges[(df_updated_dummies["churn"] == 0) ],
                color="Red", shade = True)
Mth = sns.kdeplot(df_updated_dummies.totalcharges[(df_updated_dummies["churn"] == 1) ],
                ax =Mth, color="Blue", shade= True)
Mth.legend(["No Churn","Churn"],loc='upper right')
Mth.set_ylabel('Density')
Mth.set_xlabel('Total Charges')
Mth.set_title('Total charges by churn')

increased Churn at reduced Total Charges
Nonetheless, the picture becomes somewhat clearer when we combine the insights of the three criteria, namely tenure, monthly charges, and total charges:A higher monthly charge at a shorter tenure equals a lower total charge. Therefore, there is a correlation between high churn and all three of these factors: a higher monthly charge, a lower tenure, and a lower total charge.

In [ ]:
plt.figure(figsize=(19,7))
df_updated_dummies.corr()['churn'].sort_values(ascending = False).plot(kind='bar')

 HIGH Churn seen in case of Month to month contracts, No online security, No Tech support, First year of subscription and Fibre Optics Internet

LOW Churn is seens in case of Long term contracts, Subscriptions without internet service and The customers engaged for 5+ years

Factors like Gender, Availability of PhoneService and of multiple lines have alomost NO impact on Churn

This is also evident from the Heatmap below

In [ ]:
plt.figure(figsize=(10,10))
sns.heatmap(df_updated_dummies.corr(), cmap="Paired")

# bivariate analysis

In [ ]:
new_df1_target0=df_updated.loc[df_updated["churn"]==0]
new_df1_target1=df_updated.loc[df_updated["churn"]==1]

In [ ]:
def uniplot(df,col,title,hue =None):
    
    sns.set_style('whitegrid')
    sns.set_context('talk')
    plt.rcParams["axes.labelsize"] = 20
    plt.rcParams['axes.titlesize'] = 22
    plt.rcParams['axes.titlepad'] = 30
    
    
    temp = pd.Series(data = hue)
    fig, ax = plt.subplots()
    width = len(df[col].unique()) + 7 + 4*len(temp.unique())
    fig.set_size_inches(width , 8)
    plt.xticks(rotation=45)
    plt.yscale('log')
    plt.title(title)
    ax = sns.countplot(data = df, x= col, order=df[col].value_counts().index,hue = hue,palette='bright') 
        
    plt.show()

In [ ]:
uniplot(new_df1_target1,col='partner',title='Distribution of Gender for Churned Customers',hue='gender')

In [ ]:
uniplot(new_df1_target0,col='partner',title='Distribution of Gender for Non Churned Customers',hue='gender')

In [ ]:
uniplot(new_df1_target1,col='paymentmethod',title='Distribution of PaymentMethod for Churned Customers',hue='gender')

In [ ]:
uniplot(new_df1_target1,col='contract',title='Distribution of Contract for Churned Customers',hue='gender')

In [ ]:
uniplot(new_df1_target1,col='techsupport',title='Distribution of TechSupport for Churned Customers',hue='gender')

In [ ]:
uniplot(new_df1_target1,col='seniorcitizen',title='Distribution of SeniorCitizen for Churned Customers',hue='gender')

Electronic check medium are the highest churners

Contract Type - Monthly customers are more likely to churn because of no contract terms, as they are free to go customers.

No Online security, No Tech Support category are high churners

Non senior Citizens are high churners

In [ ]:

sns.scatterplot(x='monthlycharges', y='totalcharges',data=df)

Total Charges Increase as Monthly charges Increases

In [ ]:
#selecting only categorical column
cat_cols = df.select_dtypes(include=['object']).columns
cat_cols

In [ ]:
#dropping out target column from categorical
cat_cols = cat_cols.drop('churn')

In [ ]:
cat_cols

In [ ]:
sns.histplot(df['monthlycharges'],kde=True)

In [ ]:
sns.histplot(df['tenure'],kde=True)

In [ ]:
# Plot count plots for categorical columns
plt.figure(figsize=(25, 12))
sns.countplot(x='churn', data=df)
plt.title('Distribution of Categorical columns')
plt.show()

Data is disimbalanced so we will have to balance the data later

In [ ]:
# Assuming 'Yes' is encoded as 1 and 'No' as 0 (instead of Hot-coding)
df_updated['gender'] = df_updated['gender'].replace({'Female': 0,'Male': 1})
df_updated['partner'] = df_updated['partner'].replace({'Yes': 1, 'No': 0})
df_updated['phoneservice'] = df_updated['phoneservice'].replace({'Yes': 1, 'No': 0})
df_updated['dependents'] = df_updated['dependents'].replace({'Yes': 1, 'No': 0})
df_updated['multiplelines'] = df_updated['multiplelines'].replace({'Yes': 1, 'No': 0, 'No phone service':2})
df_updated['internetservice'] = df_updated['internetservice'].replace({'DSL': 1, 'Fiber optic': 2,'No':0})
df_updated['onlinesecurity'] = df_updated['onlinesecurity'].replace({'Yes': 1, 'No': 0, 'No internet service': 0})
df_updated['onlinebackup'] = df_updated['onlinebackup'].replace({'Yes': 1, 'No': 0, 'No internet service': 0})
df_updated['deviceprotection'] = df_updated['deviceprotection'].replace({'Yes': 1, 'No': 0, 'No internet service': 0})
df_updated['techsupport'] = df_updated['techsupport'].replace({'Yes': 1, 'No': 0, 'No internet service': 0})
df_updated['streamingtv'] = df_updated['streamingtv'].replace({'Yes': 1, 'No': 0, 'No internet service': 0})
df_updated['streamingmovies'] = df_updated['streamingmovies'].replace({'Yes': 1, 'No': 0, 'No internet service': 0})
df_updated['contract'] = df_updated['contract'].replace({'Month-to-month': 1, 'One year': 0, 'Two year': 0})
df_updated['paperlessbilling'] = df_updated['paperlessbilling'].replace({'Yes': 1, 'No': 0})
df_updated['paymentmethod'] = df_updated['paymentmethod'].replace({'Electronic check': 1, 'Mailed check': 0, 'Bank transfer (automatic)':2,'Credit card (automatic)':3})
df_updated['churn'] = df_updated['churn'].replace({'Yes': 1, 'No': 0})

In [ ]:
df_updated.sample(10)

In [ ]:
df.tenure.describe()

In [ ]:
df.select_dtypes(include=['object']).columns

In [ ]:
df.churn.unique()

In [ ]:
# Calculate correlation matrix
correlation_matrix = df_updated[['phoneservice', 'multiplelines', 'internetservice', 'churn']].corr()

In [ ]:
# Create heatmap
plt.figure(figsize=(10, 8))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f", linewidths=0.5)
plt.title('Heatmap of PhoneService, MultipleLines, InternetService, and Churn')
plt.show()

In [ ]:
# Calculate correlation matrix
correlation_matrix_cats = df_updated[['gender', 'partner', 'dependents', 'phoneservice', 'multiplelines',
       'internetservice', 'onlinesecurity', 'onlinebackup', 'deviceprotection',
       'techsupport', 'streamingtv', 'streamingmovies', 'contract',
       'paperlessbilling', 'paymentmethod', 'churn']].corr()

In [ ]:
# Create heatmap for categorical data
plt.figure(figsize=(20, 9))
sns.heatmap(correlation_matrix_cats, annot=True, cmap='coolwarm', fmt=".2f", linewidths=0.5)
plt.title('Heatmap of PhoneService, MultipleLines, InternetService, and Churn')
plt.show()

In [ ]:
num_cols = df.select_dtypes(include=['float64', 'int64','int32']).columns
for column in num_cols:
    unique_values = df[column].unique()
    print(f"Column '{column}': {unique_values}")

In [ ]:
# # Identifying numeric columns
# numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns

In [ ]:
# Assigning feature variable to X
x = df_updated.drop(['churn'], axis=1)

x.head()

In [ ]:
y = df_updated['churn']

y.head()

# Train Test Split

In [ ]:
#selecting only totalcharges column to apply imputation by mean which contains null values
impute_cols = df[['totalcharges']].columns
impute_cols

In [ ]:
df

In [ ]:
#selecting independent column
X = df.iloc[:,:-1]
X

In [ ]:
#selecting dependent column
y = df.iloc[:,-1:]
y

In [ ]:
#splitting data into train and test, testing data contains 20%
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [ ]:
X_train

In [ ]:
y_train

In [ ]:
# Preprocessing for numeric data: imputation + scaling
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())])

# Preprocessing for categorical data: imputation + one-hot encoding
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))])

# Bundle preprocessing for numeric and categorical data
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, num_cols),
        ('cat', categorical_transformer, cat_cols)])

In [ ]:
#creating pipeline to impute totalcharges
impute_pipeline = Pipeline(steps=[('si',SimpleImputer())])

In [ ]:
# Creating a pipeline with preprocessing and the logistic regression model
lr_pipeline = make_pipeline(preprocessor, LogisticRegression(solver='liblinear'))

In [ ]:
# Training the model
lr_pipeline.fit(X_train, y_train)

In [ ]:
# Predicting on the test set
y_pred_lr = lr_pipeline.predict(X_test)

In [ ]:
# predicting For Logistic Regression
y_pred_proba_lr = lr_pipeline.predict_proba(X_test)[:, 1]  # Getting probabilities for the positive class

# Random Forest Classifier

In [ ]:
# Creating a pipeline with preprocessing and the random forest model
rf_pipeline = make_pipeline(preprocessor, RandomForestClassifier(n_estimators=100))

In [ ]:
# Training the model
rf_pipeline.fit(X_train, y_train)

In [ ]:
# Predicting on the test set
y_pred_rf = rf_pipeline.predict(X_test)

In [ ]:
# For Random Forest
y_pred_proba_rf = rf_pipeline.predict_proba(X_test)[:, 1]

In [ ]:
def evaluate_model(y_true, y_pred, y_pred_proba):
    accuracy = accuracy_score(y_true, y_pred)
    precision = precision_score(y_true, y_pred, pos_label='Yes')  # Adjust if necessary
    recall = recall_score(y_true, y_pred, pos_label='Yes')
    f1 = f1_score(y_true, y_pred, pos_label='Yes')
    roc_auc = roc_auc_score(y_true, y_pred_proba)  # Use probabilities here
    
    print(f"Accuracy: {accuracy:.4f}")
    print(f"Precision: {precision:.4f}")
    print(f"Recall: {recall:.4f}")
    print(f"F1 Score: {f1:.4f}")
    print(f"ROC-AUC: {roc_auc:.4f}")

In [ ]:
# Evaluate Logistic Regression Model
print("Logistic Regression Performance:")
evaluate_model(y_test, y_pred_lr, y_pred_proba_lr)

In [ ]:
# Evaluate Random Forest Model
print("\nRandom Forest Performance:")
evaluate_model(y_test, y_pred_rf, y_pred_proba_rf)

 Logistic Regression model outperforms the Random Forest model in terms of ROC-AUC, indicating it's better at distinguishing between the churn and non-churn classes. While both models have decent accuracy, the higher ROC-AUC of the Logistic Regression model suggests it might be a more reliable choice for this particular problem, especially in the context of imbalanced datasets.

# Tuning Logistic Regression Model

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
# Defining the parameter grid for Logistic Regression
param_grid_lr = {
    'logisticregression__C': [0.01, 0.1, 1, 10, 100]
}

In [ ]:
# Create a GridSearchCV object
grid_search_lr = GridSearchCV(lr_pipeline, param_grid=param_grid_lr, cv=5, scoring='roc_auc', verbose=1)

In [ ]:
# Fit it to the training data
grid_search_lr.fit(X_train, y_train)

In [ ]:
# Best parameters and best score
print("Best parameters for Logistic Regression:", grid_search_lr.best_params_)
print("Best ROC-AUC score from Grid Search for Logistic Regression:", grid_search_lr.best_score_)

# Tuning Random Forest Model

In [ ]:
# Defining the parameter grid for Random Forest
param_grid_rf = {
    'randomforestclassifier__n_estimators': [10, 50, 100, 200],
    'randomforestclassifier__max_depth': [None, 10, 20, 30]
}

In [ ]:
# Create a GridSearchCV object
grid_search_rf = GridSearchCV(rf_pipeline, param_grid=param_grid_rf, cv=5, scoring='roc_auc', verbose=1)

In [ ]:
# Fit it to the training data
grid_search_rf.fit(X_train, y_train)

In [ ]:
# Best parameters and best score
print("Best parameters for Random Forest:", grid_search_rf.best_params_)
print("Best ROC-AUC score from Grid Search for Random Forest:", grid_search_rf.best_score_)

# Retrain Logistic Regression with Best Parameters

In [ ]:
# Creating and training the Logistic Regression model with the best parameters
lr_pipeline_best = make_pipeline(preprocessor, LogisticRegression(C=10, solver='liblinear'))

In [ ]:
# Training the model
lr_pipeline_best.fit(X_train, y_train)

In [ ]:
# Predicting on the test set
y_pred_lr_best = lr_pipeline_best.predict(X_test)
y_pred_proba_lr_best = lr_pipeline_best.predict_proba(X_test)[:, 1]

In [ ]:
# Evaluating the model
print("Logistic Regression Performance with Best Parameters:")
evaluate_model(y_test, y_pred_lr_best, y_pred_proba_lr_best)

# Retrain Random Forest with Best Parameters

In [ ]:
# Creating and training the Random Forest model with the best parameters
rf_pipeline_best = make_pipeline(preprocessor, RandomForestClassifier(max_depth=10, n_estimators=100))